@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

main {
  background-color: #ecf2f8;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card {
  position: relative;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 8px 8px 40px -10px #9eafc2;
          box-shadow: 8px 8px 40px -10px #9eafc2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 280px;
  width: 50%;
  border-radius: 10px;
}

.card header {
  width: 285px;
  height: 280px;
}

.card header .drawers {
  width: 100%;
  height: 100%;
}

.card .article {
  width: 60%;
  margin: 3rem 3rem 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .article h1 {
  color: #48556a;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.card .article p {
  color: #6d7f97;
}

.card .footer-section {
  position: absolute;
  width: 50%;
  top: 80%;
  left: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .footer-section .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .footer-section .profile-container .avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.card .footer-section .profile-container .avatar-container .avatar {
  width: 100%;
  height: 100%;
}

.card .footer-section .profile-container .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1em;
}

.card .footer-section .profile-container .details-container p {
  margin: 0;
}

.card .footer-section .profile-container .details-container p:nth-child(1) {
  font-weight: 700;
}

.card .footer-section .profile-container .share-icon-container {
  background-color: #ecf2f8;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.card .footer-section .profile-container .share-icon-container .share-icon {
  margin: auto;
  width: 1.2rem;
  height: 1.2rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.card .footer-section .profile-container .share-icon-container.is-active {
  background-color: #9eafc2;
}

.card .footer-section .profile-container .share-icon-container.is-active .share-icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card .footer-section .share-container {
  left: 55%;
  top: -180%;
  position: absolute;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  min-height: 55px;
  background-color: #48556a;
  color: #9eafc2;
  border-radius: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.card .footer-section .share-container h2 {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5em;
  margin-left: 2rem;
}

.card .footer-section .share-container img {
  min-height: 20px;
  min-width: 20px;
}

.card .footer-section .share-container::after {
  content: "";
  position: absolute;
  top: 100%;
  border: solid 1rem transparent;
  border-top-color: #48556a;
}

.card .footer-section .share-container.is-active {
  opacity: 1;
}

@media screen and (max-width: 375px) {
  main {
    max-width: 100vw;
  }
  .card {
    position: static;
    width: 85%;
    height: 514px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
  }
  .card header {
    height: 200px;
    width: 100%;
  }
  .card header .drawers {
    width: 100%;
    height: 200px;
  }
  .card .article {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
    margin-bottom: 0;
    text-align: left;
  }
  .card .article h1 {
    margin-top: 2em;
    font-size: 16px;
    font-weight: 700;
  }
  .card .article p {
    color: #6d7f97;
  }
  .card .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: 2rem;
    top: 0;
    left: 0;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    height: 10rem;
    width: 100%;
  }
  .card .footer-section .profile-container {
    margin: auto;
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card .footer-section .profile-container .share-icon-container {
    position: relative;
    z-index: 99;
  }
  .card .footer-section .share-container {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    left: 100%;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .card .footer-section .share-container img:nth-child(4) {
    margin-right: 8rem;
  }
  .card .footer-section .share-container.is-active {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .card .footer-section .share-container::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */